{% extends "campagnes/base.html" %}
{% load static %}

{% block title %} Nouvelle Campagne {% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto mt-10 p-8 bg-white rounded-lg shadow-md">
    <img src="{% static 'campagnes/image/form.svg' %}" class="w-1/2 h-auto mx-auto">

    <!-- Titre -->
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">{{ titre }}</h1>

    <!-- Formulaire -->
    <form method="post" class="space-y-6">
        {% csrf_token %}
        <!-- Champs du formulaire -->
        <div class="space-y-4">
            {{ form.as_p|safe }}
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="w-full bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            {{ validation }}
        </button>
    </form>
</div>
{% endblock %}
